.projects {
    margin: 2rem auto;
    max-width: 65rem;
    
}
.title {
    display: block;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 2rem;
    background: #4b05e0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.project-title {
    text-align: center;
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* color:black; */
    margin-bottom: 1rem;
}
.projects-details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    /* color:white; */
    /* background: rgb(102, 97, 97); */
}
.project {
    /* background-color: rgb(147, 159, 164); */
    height: auto;
    min-height: 20rem;
    width: 19rem;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    /* border-color: red; */
    border-style: solid;
}
.project:hover {
    /* top: -10px; */
    /* box-shadow: 0 118px deeppink; */
    /* width: 20rem;
    height: calc(100%+1rem); */
    transform: translateY(-1rem);


  }

.project-details {
    margin-top: 5rem;
    

}

#light .projects {
    background: rgb(231, 229, 229);

}

#dark .projects {
    background: rgb(30, 30, 30);
    color: white;
}

#light .projects .project{
    background: rgb(200, 200, 100);

}

#dark .projects .project{
    background: rgb(102, 97, 97);
}