.about {
    margin: 0 auto ;
    width: 100vw;
    max-width: 65rem;


}

.aboutMe {
    display: block;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
    padding-top: 1rem;
}
.aboutMe::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 2rem;
    background: #4b05e0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.about-title{
    
}

.about-details{

}



.aboutContent {
    display: grid;
    /* max-width: 75rem; */
    margin: 1.5rem ;
    padding: 3rem;
    grid-template-columns: 2fr 1fr;
    grid-gap: 6rem;
    background: rgb(102, 97, 97);

}

.aboutContentDetails {
    margin-right: 5rem;
}

.skills {

}

.skillsItems {
    display: flex;
    flex-wrap: wrap;
}
.skillsItem {
    background-color: gray;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;

}

@media screen and (max-width: 800px) {
    .aboutContent {
        display: flex;
        flex-direction: column;
    }
 }