.navbar {
    height: 5rem;
    width: 90vw;
    /* max-width: 70rem; */
    /* margin-left: 12rem ; */
    /* margin-right: 12rem; */
    margin: 0 auto;
    margin-left: 4rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    /* top: 0;
    z-index: 3; */

}

#light .navbar {
    background: rgb(231, 229, 229);

}

#dark .navbar {
    background: rgb(30, 30, 30);
    color: white;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    margin-left: 2rem;
}

.profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {    
    color: rgb(227, 161, 139);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid  rgb(227, 161, 139);
}


.desktopMenuBtn {
    width: 9rem;
    height: 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.desktopMenuIcon {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;

}

.active {
    color:rgb(227, 161, 139);
    border-bottom: 2px solid  rgb(227, 161, 139);
    padding-bottom: 0.5rem;
}

.mobile-logo {
    /* background: rgb(30, 30, 30); */
    display: none;
    object-fit: cover;
}

.mobile-logo-image {
    width: 4rem;
    height: 3rem;

}



.mobileMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    border-radius: 1rem;
    background-color: #323131;

}

#light .mobileMenu {
    background-color: aliceblue;
} 

#light .ListItem {
    background-color: white;
}
.ListItem {
    padding: 0.5rem 3rem;
    margin: 0.15rem;
    cursor: pointer;
    background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
    .navbar{
        margin: 0;
        width: 100%;   
        padding-left: 0;     
        padding-right: 0;
    }
    .mobile-logo {
        display: flex;
        border: solid 1px;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
    .profile {
        visibility: hidden;
        
    }
    .logo-img{
        /* display:flex; */
        margin: 0;
        padding-left: 0
    }
    .logo {
        margin-left: 0 ;
        padding-left: 0;
    }
}