.intro {
    margin: 0 auto ;
    height: calc(100vh - 10rem);
    width: 100vw;
    max-width: 65rem;
    display: flex; 
     align-items: center;  
    position: relative;
   /* justify-content: space-between;  */
}

.images {
    margin-left: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#introImage {
    width: 10em;
    height: 10em;
    margin-bottom: 4rem;
    border-radius: 50%;
    /* object-fit:scale-down; */
}

.introContent {
    padding-left: 3rem;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    background: rgb(102, 97, 97);
    margin: 1.5rem ;
    padding: 3rem;
    height: calc(100vh - 15rem);
    width: 100vw;
    

}

.greeting{
    /* margin-left: 40%; */
    color:black;
    font-size: 5rem;

}

.my-name{
    margin-left: 40%;
    color:black;
    font-size: 2rem;

}

.introduction{
    margin-left: 40%;
    color:black;
    font-size: 1.5rem;

}

.hireMe {
    width: 5rem;
    height: 30px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 25px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .intro{
      flex-direction: column;
    }
    /* .introContent {
       margin-left: 20px;
    }
    #introImage{
        object-fit: cover;
        margin-left: 40px;
    
    } */
  }