.blog {
    margin: 0 auto ;
    width: 100vw;
    max-width: 65rem;
}

.blog-title {
    display: block;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
}

.blog-title::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 2rem;
    background: #4b05e0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.blogs {
    text-align: center;
    /* background: rgb(102, 97, 97); */
    height: 20rem;
    padding-top: 10rem;

}

#light .blog {
    background: rgb(231, 229, 229);

}

#dark .blog {
    background: rgb(30, 30, 30);
    color: white;
}